@import url('https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,600,700,1&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FD7D35;
  --color-dark: #353C46;
  --color-light: #FFFFFF;
  --font-general: "General Sans", sans-serif;
  --font-inter: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-light);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6, .font-general {
  font-family: var(--font-general);
}
